.child{
    width: 400px;
    height:300px;
    background-image: url(/img/download.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;

}
.child {
    z-index: 6;
    position: relative;
    padding: 20px;
}
.child a{
    background: tomato;
    color: white;
    border-radius: 6px;
    padding: 6px 10px;
    top: 120px;
    
    
}
.child a:hover{
    background: blueviolet;
}
.child p{
    position: absolute;
    top: 120px;
}
h2{
    color: blueviolet;
    top: 50PX;
}
 .small{
    position: absolute;
    width:100%;
    left: 0;
    height: 100%;
    top: 0;
    background: red;
    opacity:0.6;

 }

 