.child{
    /* padding: 20px; */
    position: relative;
    text-align: center;
    width: 400px;
  
    height: 300px;  
    margin: 0 auto;
    overflow: hidden;
}
.child h2{
    color: aliceblue;
}
.child P{
    font: 23px;
    color:  #fed330;
}
.child a{
    color: white;
    background: red;
    padding: 5px 10px;
    border-radius: 8px;
    text-decoration:none;
}
img{
    display: block;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: 2s;
}
.child:hover  img{
    transform: scale(1.4);
}
#iner-srvice{
    /* display: none; */
    background-color: #4b7bec;
    position: absolute;
    top: -500PX;
    left: 0;
    /* display: none; */
    width: 100%;
    height: 100%;
    /* z-index: -1; */
    opacity: 0.7;
    transition: 1s;
}
.child:hover #iner-srvice{
    /* displa.iney: block; */
    /* top: 0; */
    /* position: absolute; */
}



.how{
    font-size: 28px;
    color: white;
    top: 100px;
    position: relative;
    background: red;
    display: inline;
    padding: 5px 8px;
    border-radius: 6px;
    cursor: pointer;
}